.menu {
    align-items: center;
    background-color: #003e2e;
    display: flex;
    flex-direction: column;
    gap: 10px;
    height: 80px;
    justify-content: center;
    position: relative;
    width: 100%;
}

.menu .frame-4{
    align-items: center;
    display: inline-flex;
    flex: 0 0 auto;
    gap: 20px;
    justify-content: center;
    position: relative;
}
.menu .menuIco {
    background-color: #003e2e;
    align-items: flex-start;
    flex-direction: column;
    display: inline-flex;
    gap: 4px;
    padding: 4px;
    position: relative;
    height: 56px;
}


.menu .vector {
    height: 48.45px;
    position: relative;
    width: 130px;
}

.menu .frame-5{
    align-items: center;
    display: inline-flex;
    flex: 0 0 auto;
    justify-content: center;
    position: relative;
}

/* Media query para pantallas pequeñas */
@media (max-width: 1200px) {
    .menu {
        flex-direction: column; /* Coloca los elementos en una columna */
        padding: 10px; /* Reduce el padding para ahorrar espacio */
        height: auto; /* Permite que la altura se ajuste automáticamente */
    }

    .menu .frame-4 {
        flex-direction: column; /* Alinea el ícono y los botones en una columna */
        align-items: center;
        gap: 10px; /* Ajusta el espacio entre los elementos */
    }

    .menu .frame-5 {
        display: flex;
        flex-wrap: wrap; /* Permite que los botones se ajusten en varias líneas si es necesario */
        gap: 5px; /* Menor espacio entre botones */
        justify-content: center; /* Centra los botones en pantalla pequeña */
    }

    .menu .menuIco {
        width: 80px; /* Tamaño más pequeño para el ícono */
        height: auto;
    }
}