.menu {
  display: flex;
  width: 87.5%;
  padding: 15px 119px 15px 121px;
  justify-content: space-between;
  align-items: center;
  background: var(--M3-sys-dark-on-primary-fixed-variant, #00513D);
}


.menu .menuIco {
  align-items: flex-start;
  flex-direction: column;
  display: inline-flex;
  gap: 4px;
  padding: 4px;
  position: relative;
  height: 56px;
}


.menu .vector {
  height: 48.45px;
  position: relative;
  width: 130px;
}

.menu .frame-5 {
  align-items: center;
  display: inline-flex;
  flex: 0 0 auto;
  justify-content: center;
  position: relative;
  gap: 12px;
}


.mobile-menue{
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  width: 100%;
}

.mobile-menue .frame-wrapper-mobile{
  align-items: center;
  align-self: stretch;
  background-color: #003e2e;
  display: flex;
  flex: 0 0 auto;
  gap: 50px;
  justify-content: space-around;
  padding: 8px 4px 4px 24px;
  position: relative;
  width: 100%;
}

.mobile-menue .mobile-frame {
  align-items: center;
  display: flex;
  justify-content: space-between;
  position: relative;
  width: 100%;

}

.mobile-menue .div3{
  align-items: center;
  display: flex;
  flex: 0 0 auto;
  position: relative;

}



/* Media query para pantallas pequeñas */
@media (max-width: 1200px) {
  .menu {
    flex-direction: column;
    /* Coloca los elementos en una columna */
    padding: 10px;
    /* Reduce el padding para ahorrar espacio */
    height: auto;
    /* Permite que la altura se ajuste automáticamente */
  }

  .menu .frame-4 {
    flex-direction: column;
    /* Alinea el ícono y los botones en una columna */
    align-items: center;
    gap: 10px;
    /* Ajusta el espacio entre los elementos */
  }

  .menu .frame-5 {
    display: flex;
    width: 816px;
    align-items: center;
    gap: 12px; 
  }

  .menu .menuIco {
    width: 80px;
    /* Tamaño más pequeño para el ícono */
    height: auto;
  }
}